@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;    
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  height: 55px
}

.header__logo {
  width: 25px;
}

.header__text {    
  color: #FFFFFF;  
  margin-left: 7px;  
}


