@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;    
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F55A5A;
  height: 55px
}

.header__logo {
  width: 25px;
}

.header__text {    
  color: #FFFFFF;  
  margin-left: 7px;  
}

.travel__list {
  margin: 100px 40px;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.travel {
  display: flex;
  width: 470px;  
  margin-bottom: 36px;
  position: relative;    
}

.travel:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.travel::after {
  content: '';
  position: absolute;
  width: 478px;  
  border-bottom: 1px solid black;
  top: 100%;
  left: -15px;
  margin: 15px;  
  opacity: 0.1;
}

.travel:last-child:after{
  content: none;
}

.travel__img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  margin-right: 19px;
  border: 5px 5px 5px 0;
}

.travel__container {
  font-size: 10px;  
}

.travel__cords {
  display: flex;
  align-items: center;
}

.travel__cords > span { 
  margin: 0 12px 0 4px;
}

.travel__cords > a {  
  color: #918E9B;
  text-underline-position: under;  
  cursor: pointer;
}

.travel__cords > a:hover {
  color: #5832c9;
  transform: scale(1.1);
  transition: 0.3 ease-in-out;
}

.travel__lacation {
  font-size: 25px;  
  margin: 10px 0 18px 0;
}

.travel__date {
  margin-bottom: 10px;
}


